<h1>Shift Assignments</h1>
<p> There are currently <%= @all_shifts.count %> shifts assigned in total.</p>

    <table>
        <% @advisors.each do |a| %>
        <tr>
            <td><%= a.id %>. <%= a.name %></td>
            <td><%= a.totalHours %> / <%= a.maxHours %> </td>
        </tr>
        <% end %>
    </table>

    <% @all_shifts.each do |s| %>
        <p>
            <br><%= s.start.month %>/<%= s.start.day %>, <%= s.start.hour %>:00 - <%= s.end.hour %>:<%= s.end.min %>
            <br>Advisors scheduled: <%= s.advisors.count %>/<%= s.advisor_number %>

            <br>Rails: <%= s.rails %>, Angular: <%= s.angular %>, Python: <%= s.python %>, PHP: <%= s.php %>
        </p>
        <table>
        <tr>
            <td>Name:</td>
            <td>Position:</td>
            <td>R</td>
            <td>A</td>
            <td>P</td>
            <td>P</td>
        </tr>
        <% s.advisors.order("name ASC").each do |a| %>
            
            <% shift = ShiftAssignment.where(:advisor_id => a.id, :shift_id => s.id)[0] %>
            <tr>
                <td><%= a.name %></td> 
                <td><%= shift.position %></td>
                <td><%= a.rails %></td>
                <td><%= a.angular %></td>
                <td><%= a.php %></td>
                <td><%= a.python %></td>
            </tr>   
        <% end %>
        <br><br>
        </table>
    <% end %>

